@import "tailwindcss";
@import "../node_modules/preline/variants.css";
@import "$lib/ui/table/tabulator-preline.css";

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

/*
  enables dark mode toggling
 https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually
*/
@custom-variant dark (&:where(.dark, .dark *));
